/* index.module.css */
.heroSection {
  text-align: center;
  padding: 50px 20px;
  background-color: #1f2533;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.heroSection h1 {
  font-size: 2.5rem;
  color: #ffdd00;
}

.heroSection p {
  font-size: 1.2rem;
  margin: 20px auto;
  max-width: 600px;
}

.exploreButton {
  background-image: linear-gradient(
    to right,
    #ffdd00 0%,
    #ffee77 51%,
    #ffdd00 100%
  );
  background-size: 200% auto;
  color: #123456;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: background-position 0.5s, transform 0.3s ease,
    box-shadow 0.3s ease;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 20px #ffee77;
}

.exploreButton:hover {
  background-position: right center;
  transform: translateY(-5px);
  box-shadow: 0 0 20px #ffdd00;
}

.featuredGames {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.featuredGames h2 {
  font-size: 1.8rem;
}

.cardContainer {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 30px;
  padding: 20px;
}

.gameCard {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--text-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  display: block; /* Ensure the link covers the entire card */
  text-decoration: none;
  width: 100%;
  max-width: 250px; /* Limit the maximum width */
}

.gameCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.gameText {
  z-index: 2;
  position: relative;
  font-size: 1.5rem;
  color: var(--text-light);
  margin-bottom: 10px; /* Space between text and rating */
}

.gameRating {
  z-index: 2;
  position: relative;
  font-size: 1.2rem;
  color: var(--secondary-color);
  display: block; /* Ensure it starts on a new line */
}

.gameImage {
  background-color: var(--accent-color); /* Placeholder color */
  height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%; /* Ensure the image covers the card width */
  object-fit: cover; /* Ensure the image covers the defined height/width without distortion */
  object-position: center center; /* Center the image */
}

.languageButton {
  background-image: linear-gradient(
    to right,
    #ffdd00 0%,
    #ffee77 51%,
    #ffdd00 100%
  );
  background-size: 200% auto;
  color: #123456;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: background-position 0.5s, transform 0.3s ease,
    box-shadow 0.3s ease;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 20px #ffee77;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.languageButton:hover {
  background-position: right center;
  transform: translateY(-5px);
  box-shadow: 0 0 20px #ffdd00;
}

.newsletterForm {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #1f2533;
  color: #ecf0f1;
  border-radius: 10px;
  width: 100%;
  max-width: 80%; /* Retaining original width */
}

.newsletterForm h2 {
  color: #f39c12;
}

.newsletterForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.newsletterForm label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Add space between labels */
}

.newsletterForm input {
  padding: 10px;
  width: 100%; /* Make input full width within container */
  max-width: 400px; /* Increased max-width */
  border: 2px solid #7f8c8d;
  border-radius: 5px;
  background-color: #95a5a6;
  color: #2c3e50;
  margin-top: 5px;
}

.newsletterForm input:focus {
  border-color: #3498db;
}

.formButtons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.formButtons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #123456;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.formButtons button:hover {
  background-color: #e67e22;
}

.errorText {
  color: red;
  font-size: 0.9rem;
}

/* Media Query for Mobile */
@media (max-width: 600px) {
  .heroSection,
  .featuredGames,
  .newsletterForm {
    width: 100%;
    padding: 10px; /* Adjust padding */
  }

  .gamesGrid {
    flex-direction: column;
    align-items: center;
  }

  .gameCard {
    width: 90%;
  }

  .newsletterForm input {
    width: 90%; /* Adjusted width */
    max-width: 400px; /* Max width */
    margin-left: 0; /* Align to the left */
  }

  .formButtons {
    flex-direction: column;
  }
}
