/* layout.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #1a1f2b; /* Bluish black */
    --secondary-color: #2a9df4; /* Vibrant blue */
    --accent-color: #f1faee; /* Light cream */
    --text-dark: #1b7fcf; /* Vibrant blue */
    --text-light: #f1faee; /* Light cream */
    --background-color: #e69554; /* Soft orange */
    --header-color: #f4a261; /* Soft orange */
    --header-height: 80px; /* Header height for consistency */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-light);
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.siteWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header,
footer,
main {
    padding: 20px 10%;
}

.header {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    height: var(--header-height);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.siteTitle {
    color: var(--header-color);
    font-size: 2.5rem;
    animation: fadeIn 1s ease-out;
    margin: auto 2rem;
    text-decoration: none;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}

.siteTitle:hover {
    text-decoration: none;
    color: #ffee77;
    transition: color 0.3s ease;
}

.navLinks {
    margin-top: 1.5rem;
    display: flex;
    list-style: none;
    align-items: center;
}

.navLinkItem {
    margin-left: 20px;
    position: relative;
    overflow: hidden; /* Ensure pseudo-elements do not go outside the bounds */
}

.navLinkItem a {
    font-size: 1.3rem;
    color: var(--text-light);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block; /* To make the padding clickable and increases area for interaction */
    padding: 10px 0;
    position: relative; /* Required for absolute positioning of pseudo-elements */
}

.navLinkItem a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.navLinkItem a:hover::before {
    transform: scaleX(1); /* Scale the pseudo-element to full width */
}

.navLinkItem a:hover {
    color: var(--secondary-color); /* Changes text color on hover */
    text-decoration: none;
}

.siteFooter {
    margin-top: auto;
    text-align: center;
    padding: 2rem 0;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--text-light);
}

.content {
    margin-top: var(--header-height);
    padding-top: 20px;
    animation: contentFadeIn 1s ease-out;
}

@keyframes contentFadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-dark);
}

main h1 {
    margin-top: 4rem;
    margin-bottom: 0;
    color: #1f2533
}

p, li {
    font-size: 1.1rem;
    line-height: 1.6;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .header {
        justify-content: center;
    }

    .navLinks {
        display: none;
    }

    .siteTitle {
        font-size: 2rem;
    }
}
